#horseyContainer {
  display: flex;
  margin: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.clone {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #f9f9f9;
}

img {
  width: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

select {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}
